// Couleurs des boutons de la Toolbar
.capitainewp-toolbar-advice {
	color: var(--wp--custom--alert--advice);
}

.capitainewp-toolbar-warning {
	color: var(--wp--custom--alert--warning);
}

.capitainewp-toolbar-avoid {
	color: var(--wp--custom--alert--avoid);
}

.capitainewp-toolbar-info {
	color: var(--wp--custom--alert--info);
}
