.wp-block-capitainewp-repeater {
	background: var(--wp--preset--color--accent-3);
	color: var(--wp--preset--color--base);
	padding: var(--wp--preset--spacing--30);

	h2 {
		margin: 0;
		font-size: var(--wp--preset--font-size--large);
		font-weight: 600;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding-left: var(--wp--preset--spacing--20);
		gap: var(--wp--preset--spacing--20);
	}
}
