.wp-block-capitainewp-dynamic__list {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--40);
	list-style-type: none;
	padding: 0;

	h2 {
		margin: 0;
	}

	h3 {
		font-weight: bold;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.wp-block-capitainewp-dynamic__meta {
	font-size: var(--wp--preset--font-size--small);
}
